*{
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
}
body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    perspective: 500px;
}
div{
    width: 200px;
    height: 200px;
    background-color: grey;
    margin: 15% 0px;
    border-radius: 20px;
    box-shadow: 0px 0px 8px 3px rgb(38, 38, 219);
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: box 5s infinite;
    transition: all .6s ease;
    animation-play-state: running;
}
@keyframes box {
    0%{
        transform: rotateZ(0deg);
        left: 100px;
        position: absolute;
    }
    10%{
        position: absolute;
        left: 200px;
        background-color: red;
        box-shadow: 0px 0px 8px 3px black;
        transform: rotateZ(36deg);
    }
    20%{
        position: absolute;
        left: 300px;
        background-color: blue;
        box-shadow: 0px 0px 8px 3px red;
        transform: rotateZ(72deg);
    }
    30%{
        position: absolute;
        background-color: green;
        box-shadow: 0px 0px 8px 3px yellow;
        left: 400px;
        transform: rotateZ(108deg);
    }
    40%{
        position: absolute;
        left: 500px;
        background-color: yellow;
        box-shadow: 0px 0px 8px 3px aqua;
        transform: rotateZ(144deg);
    }
    50%{
        position: absolute;
        background-color: aqua;
        box-shadow: 0px 0px 8px 3px red;
        left: 600px;
        transform: rotateZ(180deg);
    }
    60%{
        position: absolute;
        background-color: black;
        box-shadow: 0px 0px 8px 3px green;
        left: 700px;
        transform: rotateZ(216deg);
    }
    70%{
        position: absolute;
        background-color: brown;
        box-shadow: 0px 0px 8px 3px pink;
        left: 800px;
        transform: rotateZ(252deg);
    }
    80%{
        position: absolute;
        left: 900px;
        background-color: violet;
        box-shadow: 0px 0px 8px 3px brown;
        transform: rotateZ(288deg);
    }
    90%{
        position: absolute;
        background-color: tomato;
        box-shadow: 0px 0px 8px 3px greenyellow;
        left: 1000px;
        transform: rotateZ(324deg);
    }
    100%{
        position: absolute;
        background-color: blanchedalmond;
        box-shadow: 0px 0px 8px 3px rgb(71, 69, 69);
        left: 1100px;
        transform: rotateZ(360deg);
    }
}
div:hover{
    animation-play-state: paused;
}
p{
    text-shadow: 5px 5px 2px blue;
    animation: text 2s infinite;
}
