*{
    transition: all .5s ease;
}
#checkbox{
    display: none;
}
#check{
    font-size: 50px;
    padding: 0px;
    margin: 0px;
    color: red;
}
#like{
    color: red;
    font-size: 43px;
    padding: 0px;
    margin: 0px;
    display:none ;
    position: relative;
    top: -62px;
    left: -4px;
}

#checkbox:checked ~ #like{
    display: block;
    transition: all 2s ease;
}